MCLAImport/xml/Roster.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="roster">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="generated" type="xs:string" />
        <xs:element maxOccurs="unbounded" name="player">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="first" type="xs:string" />
              <xs:element name="middle" type="xs:string" />
              <xs:element name="last" type="xs:string" />
              <xs:element name="hometown" type="xs:string" />
              <xs:element name="homestate" type="xs:string" />
              <xs:element name="highschool" type="xs:string" />
              <xs:element name="major" />
              <xs:element name="season">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="team" type="xs:string" />
                    <xs:element name="jersey" type="xs:unsignedByte" />
                    <xs:element name="position" type="xs:string" />
                    <xs:element name="height" type="xs:unsignedByte" />
                    <xs:element name="weight" type="xs:unsignedByte" />
                    <xs:element name="class" type="xs:string" />
                    <xs:element name="eligibility" type="xs:string" />
                  </xs:sequence>
                  <xs:attribute name="id" type="xs:unsignedShort" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="id" type="xs:unsignedShort" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>